
html{
  font-size: 18px;
}
body {
  margin: 10% 20% 0% 20%;
}

table {
  text-align: left;
}

button {
  margin-bottom: 2%;
}


.tabcontent {
  display: none;
}

#led2 {
    display: none;
}

.fan_on {
    width: 100px;
}
.fan_on,
 #esp32{
  margin-left: 175px;
  margin-right: 100px;
  margin-top: 30px;
}

/* Style the list */
ul.breadcrumb {
  padding: 10px 16px;
  list-style: none;
  background-color: #eee;
}

/* Display list items side by side */
ul.breadcrumb li {
  display: inline;
  font-size: 18px;
}

/* Add a slash symbol (/) before/behind each list item */
ul.breadcrumb li+li:before {
  padding: 8px;
  color: black;
  content: "/\00a0";
}

/* Add a color to all links inside the list */
ul.breadcrumb li a {
  color: black;
  text-decoration: none;
}
ul.breadcrumb #sub-pag{
  color: #0275d8;
  text-decoration: none;
}

/* Add a color on mouse-over */
ul.breadcrumb li a:hover {
  color: #01447e;
  text-decoration: underline;
}

.temperature,
.control-device{
  float: left;
  width: 50%;
  min-height: 150px;
  border: 1px solid #001;
  border-radius: 10px;
}
.fas{
  padding-left: 90px;
  padding-top: 80px;
  padding-bottom: 100px;
  font-size: 30px;
}
.badge{
  font-size: 20px;
  color: #000;
  background-color: #fff;
}
.fa-temperature-high{
  color:rgba(235, 10, 10, 0.8)
}
.fa-tint{
  color: blue;
}
.clear{
  clear: both;
}
